.container {
  position: absolute;
  background: #4a4873;
  height: 150px;
}

.row {
  position: relative;
  padding: 20px;
}

.col {
  background: #e4e3e9;
  height: 100px;
  font-size: 50px;
  color: #be0d0d;
  text-align: center;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
